/* menu */
.header-container-nav{
    position: fixed;
    background-color: var(--white-color);
    width: 29rem;
    height: 90vh;
    right: -100rem;
    top: 8rem;
    z-index: 1000;
    box-shadow: 0 1px 7px rgba(0,0,0,0.1);
    transition: all .3s;
    overflow-y: auto;
}
.header-container-nav.active{
   right: 0;
}

.haschild__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--primery-text-color);
}
.haschild span{
   cursor: pointer;
}
.header-submenu-items{
   display: none;
   background: linear-gradient(-10deg, #0032a0 0%, #0078c8 100%);
   margin-top: 1rem;
   padding: 1rem;
}
.header-submenu-items.active{
   display: block;
}
.header-submenu-items li{
   margin-bottom: 2rem;
   padding: .5rem 1.5rem;
}
.header-submenu-items li a{
   color: var(--white-color);
}
.icon-angle{
   margin-left: 2rem;
   transition: all .2s;
}

.header-nav{
    margin: 3rem 2.3rem 0 0;
}
.header-nav-item{
    padding: 2rem 0 2rem 0;
}
.header-info{
    border-top: 1px solid #d2d2d2;
    margin-top: 12rem;
}
.header-info button.change{
   margin-top: 30rem;
   padding: 0 0 2rem 1rem;
}
.profile-menu-btn{
    position: absolute;
    border: none;
    right: 24rem;
    top: 50rem;
}
.icon-user{
    font-size: 2.5rem;
}
/* End of menu */


