@import "./variables.css";
@import "./fonts.css";
@import "./header.css";
@import "./default-style.css";
@import "./menu.css";
@import "./color-bar.css";
@import "./footer.css";
@import "./cart-content.css";

body{
    background-color: #f7f7f7;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container-fluid::after{
     content: "";
     position: absolute;
     background-color: black;
     opacity: .6;
     width: 100%;
     height: 100%;
     z-index: 100;
     top: 0;
     visibility: hidden;
 }
.container-fluid.active::after{
    visibility: visible;
}

/* list-filters */
.list-filters{
    width: 100%;
    height: 11rem;
    background-color: var(--white-color);
    margin-top: 2rem;
}
.list-filters__container{
    width: 100%;
    height: 6rem;
}
.list-filters__container-products{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
}
.list-filters__container-products a{
    font-size: 1.5rem;
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    transition: all .2s;
}
.list-filters__container-products a.active{
    background-color: #2191db ;
    color: var(--white-color);
}
.list-filters__container-products a:hover{
    background-color: #2191db ;
    color: var(--white-color);
}

.filter-icon__container{
    width: 100%;
    height: 100%;
    padding: 1rem 4rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-icon-btn{
    border: none;
    background-color: var(--white-color);
    font-family: var(--primery-font);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-icon-btn svg{
    width: 3rem;
    height: 3rem;
}
.filter-icon-text{
    font-size: 1.4rem;
}
.filter-icon-angle{
    border: none;
    background-color: var(--white-color);
    font-family: var(--primery-font);
    margin-left: 2rem;
    opacity: .6;
    cursor: pointer;
}

/* End of list-filters */