
@media (max-width:980px) {
    html{
        font-size: 60%;
    }

    .banner-icons-wrapper{
        margin-right: 1rem;
    }
    .banner-icon{
        margin: 0 2.5rem;
    }
    .card{
        margin-top: 5rem;
        height: 150vh;
    }
    .container-card{
        flex-direction: column;
     }
    .container-card-ltr{
        flex-direction: column-reverse;
    }
    .card-rtl .card-btn{
        margin: 4rem 0 3rem 0;
    }
    .card-video{
        flex-direction: column;
    }
    .card-video-text{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        padding: 2rem 6rem 0 0;
     }
     .card-video-img{
        width: 100%;
        height: 100%;
     }
     .card-video-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
     }
    .section-readable{
       margin-top: 3rem;
    }
    .section-readable-body-container{
        display: grid;
        grid-template-columns: repeat(2 , 35rem);
        column-gap: 4rem;
        row-gap: 2rem;
     }
     .section-readable-blog{
        width: 38rem;
        height: 27rem;
        border-radius: 1rem;
      }
      .blog-post-info{
        left: 0rem;
        bottom: 1rem;
        width: 100%;
      }
      .footer-icons-wrapper{
        flex-wrap: wrap;
      }
      .footer .color-bar{
        width: 100%;
      }
      .product-model a{
        width: 100%;
        font-size: 1rem;
      }
      .footer-icon{
        padding: 0 5rem;
    }
    
 }

 @media (max-width: 775px) {

    html{
        font-size: 50%;
    }
    .logo-img{
      margin-right: 2rem;
    }
    .header-btns div{
        margin-left: 3rem;
    }
    .fa-magnifying-glass{
      font-size: 3rem;
      margin-top: 0rem;
    }
    .header-nav-btn{
      left: 1.5rem;
      top: -2rem;
    }
    .opening-nav {
      font-size: 4rem;
    }
    .close-nav{
      font-size: 4rem;
    }
    .footer-social-logo{
      align-items: center;
     }
     .footer-social-icon{
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 1rem 0;
       width: 170px;
     }
    
 }

 @media (max-width: 650px) {

  .color-bar {
    box-shadow: -72vw 0 0 4px #78be1e, -65vw 0 0 4px #019e43, -58vw 0 0 4px #0182c6, 0vw 0 0 4px #1d4f9b;
  }
  .logo-img{
    margin-right: 2rem;
  }
  .header-btns div{
      margin-left: 3rem;
  }
  .fa-magnifying-glass{
    font-size: 3rem;
    margin-top: 0rem;
  }
  .header-nav-btn{
    left: 2rem;
    top: -2rem;
  }
  .opening-nav {
    font-size: 4rem;
  }
  .close-nav{
    font-size: 4rem;
  }
  .intro-content h2{
      top: 29rem;
      padding: 2rem 2.5rem;
      font-size: 2rem;
  }
  .banner-icons-wrapper{
    width: 98%;
    text-align: center;
  }
  .banner-icon{
    margin: 0 2.5rem;
  }
 .banner-icon-img{
    width: 4rem;
    height: 4rem;
  }
  .section-readable-body-container{
    grid-template-columns: repeat(1 , 48rem);
    padding-right: 8rem;
 }
  .section-readable{
    margin-top: 50rem;
 }

 .footer{
  margin-top: 30rem;
 }
 
}

@media (max-width: 500px) {
  
  html{
    font-size: 45%;
}
}

@media (max-width: 430px) {
  
  html{
    font-size: 40%;
}
.banner-container{
   height:71rem;
}
.banner-icons-wrapper{
  width: 98%;
  flex-wrap: wrap;
  text-align: center;
}
.banner-icon{
  margin: 1rem 3.5rem;
}
.banner-icon-img{
  width: 2rem;
  height: 2rem;
}
.container-card-ltr{
  width: 330px;
}
.card-right-text-rtl{
  padding: 2rem 3rem 2rem 0;
}
.card-left-imgs-rtl{
  padding-right: 3rem;
}
.card-right-imgs-ltr{
  padding-right: 2rem;
}
.card-left-text-ltr{
  padding: 2rem 2rem 2rem 0;
}
.section-readable-body-container{
  grid-template-columns: repeat(1 , 33rem);
  padding-right: 0rem;
  padding-left: 4rem;
}
.container-card{
  padding: .5rem;
}
.section-readable{
  margin-top: 10rem;
}
.footer{
  margin-top: 10rem;
 }
 .card-video-text{
  padding: 7rem 6rem 0 0;
}

.intro-content a{
  top: 45rem;
}
.intro-content h2{
  top: 39rem;
  right: -40rem;
  padding: 2rem 3rem;
  font-size: 2rem;
}
}
 
