:root {

  /* Colors */
  --white-50: #FFFFFF;
  --white-100: #f6f6f6;
  --white-200: #E7E7E7;
  --gold-400: #FDC816;
  --gold-50: #faf1c8;
  --gray-650: #818181;
  --gray-600: #707070;
  --gray-700: #626161;
  --black: #000;
 


  /* BREAKPOINTS */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;


  /* FONTS */
  --font-primary: 'vazir', 'gandom';
  --font-lalezar: 'lalezar', 'gandom';

  --font-size-default: 1.6rem;
}

/*
   BREAKPOINTS 
    1200px ------> 75em; 
    992px ------> 62em; 
    768px ------> 48em; 
    576px ------> 36em; 
*/