.u-container {
    margin: 0 auto;
    width: 85%;
}


.u-text-red {
    color: var(--gold-400);
}


.u-row {
    display: grid;
    grid-template-columns: minmax(29rem, 1fr) minmax(74rem, 1fr) minmax(27rem, 1fr);
    gap: 2rem;
}

